:root {
  --primary-color: #966844;
  --secondary-color: #2c3639;
  --primary: #966844;
  --secondary: #2c3639;
  --white-color: #fff;
  --text-color: #b0b0b0;
  --black-color: #1E1D23;
  --primary-font: 'Roboto', 'sans-serif';
  --primary-font: 'Quicksand', 'sans-serif';
  --bs-light-rgb-site: #F6F5F1;
}